body
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #DC143C;
}

main
{

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.form-group
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;

    vertical-align:middle;

}

.button
{
    display:inline-block;
}

.title
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #6600cc;
}


.text
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 30%;
    text-align: center;

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}