<!DOCTYPE html>

<html lang="en">


    <head>
        <title>Card</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    </head>

    <body>
            <div class="title">
                <h1>This is the {{ card.title }}!</h1>
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ card.title }}</h1>
                    <p class="card-text">{{ card.description }}</p>

                    {% if 'chance' in card.name %}
                        <form action = "{{ url_for('card') }}" method = "post">
                            <input id="numb" autofocus autocomplete="off" name="input_number">
                            <button type="submit" name="button" value="{{ card.name }}" class="button">Check</button>
                        </form>
                    {% endif %}

                    {% if 'googol' in card.name %}
                        <form action = "{{ url_for('card') }}" method = "post">
                            <div class="buttonCard">
                                <button type="submit" name="button" value="{{ card.name }}" class="button">Activate</button>
                            </div>
                        </form>
                    {% endif %}

                    {% if 'monkey' in card.name %}
                        <form action = "{{ url_for('card') }}" method = "post">
                            <div class="buttonCard">
                                <button type="submit" name="button" value="{{ card.name }}" class="button">Activate</button>
                            </div>
                        </form>
                    {% endif %}

                    {% if 'banana' in card.name %}
                        <form action = "{{ url_for('card') }}" method = "post">
                            <div class="buttonCard">
                                <button type="submit" name="button" value="{{ card.name }}" class="button">Activate</button>
                            </div>
                        </form>
                    {% endif %}

                </div>
            </div>
    </body>

</html>