<!DOCTYPE html>

<html lang="en">


    <head>
        <title>CardExplanation</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    </head>
    <body>
        <div class="title">
            <h1>This is is what it does!</h1>
        </div>

        <div class="text">
            <h5>blablablabla</h5>
            <h5>But alsoooooo</h5>
            <h5>Huehuehuehuehue</h5>
        </div>

        <form action = "{{ url_for('cardExplanation') }}" method = "post">

        <div class="buttonMiddle">
            <button type="submit" name="button" value="continue" class="button">Continue</button>
        </div>

         <div>
            <button class="settingsIcon" type="submit" name="button" value="settings"></button>
        </div>

        </form>
    </body>