<!DOCTYPE html>

<html lang="en">


    <head>
        <title>Card</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    </head>

    <body>
            <div class="title">
                <h1>This is the {{ data.title }} !</h1>
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ data.title }} Card</h1>
                    <p class="card-text">{{ data.description }}</p>

                    <form action = "{{ url_for('card') }}" method = "post">
                        <div class="buttonCard">
                            <button type="submit" name="button" value="{{ data.name }}" class="button">Activate</button>
                        </div>
                    </form>
                </div>
            </div>
    </body>

</html>