<!DOCTYPE html>

<html lang="en">


    <head>
        <title>Game</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    </head>
    <body>
        <div class="title">
            <h1>{{ question }}</h1>
        </div>

        <form action = "{{ url_for('game') }}" method = "post">

        <div class="text">
            <div class="answer">
            <input type="submit" value="{{ answerA }}" class="button"></input>
            </div>
            <div class="answer">
            <input type="submit" value="{{ answerB }}" class="button"></input>
            </div>
            <div class="answer">
            <input type="submit" value="{{ answerC }}" class="button"></input>
            </div>
            <div class="answer">
            <input type="submit" value="{{ answerD }}" class="button"></input>
            </div>
        </div>



        <div class="buttonMiddle">
            <button type="submit" name="button" value="confirm" class="button">Confirm</button>
        </div>

         <div>
            <button class="settingsIcon" type="submit" name="button" value="settings"></button>
        </div>

        </form>
    </body>