<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Start game</title>

        <script type='text/javascript'>
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            function addFields(){
                // Number of inputs to create
                var number = document.getElementById("number").value;

                // Container <div> where dynamic content will be placed
                var container = document.getElementById("container");

                if(isNaN(number)){
                    document.getElementById("container").innerHTML = "Must enter a number";
                }
                else if(number <= 0){
                    document.getElementById("container").innerHTML = "Must enter a positive number"
                }
                else if(number > 100){
                    document.getElementById("container").innerHTML = "The maximum number of players is 100"
                }
                else{
                    // Clear previous contents of the container
                    while (container.hasChildNodes()) {
                        container.removeChild(container.lastChild);

                    }
                    for (var i = 0; i < number; i++){
                        // Append a node with a random text
                        container.appendChild(document.createTextNode("Player " + (i+1) + " "));
                        // Create an <input> element, set its type and name attributes
                        var input = document.createElement("input");
                        input.type = "text";
                        input.name = "nickname" + (i + 1);
                        input.id = "nickname" + (i + 1);
                        input.placeholder = "Nickname";
                        input.required = "required";
                        input.autocomplete = "off";
                        container.appendChild(input);
                        // Append a line break two times
                        container.appendChild(document.createElement("br"));
                        container.appendChild(document.createElement("br"));
                    }

                    var button = document.createElement("button");
                    button.id = "start";
                    button.name = "submit";
                    button.setAttribute('class', 'btn btn-primary btn-block');
                    button.innerHTML = "Start";
                    container.appendChild(button);
                }
            }

            function validateForm() {
                var length = document.getElementById("number").value;
                var dict = {};
                for (var i = 0; i < length; i++){
                    var name = document.getElementById("nickname" + (i + 1)).value;
                    console.log(name)
                    console.log(dict)
                    if (name in dict) {
                        alert("All nicknames must be unique");
                        return false;
                    }
                    dict[name] = "one";

                }
                return true;
            }

            function checkAll() {
                for(var i=1;i<8;i++) {
                    var tmp_checkbox_id = "customCheck"+i;
                    if(document.getElementById("customSwitch1").checked == true) {
                        document.getElementById(tmp_checkbox_id).checked = true;
                    }
                    else {
                        document.getElementById(tmp_checkbox_id).checked = false;
                    }
                }
            }

            function allCategories() {
                var checkboxes = document.getElementsByName("checkbox");
                for (var i in checkboxes){
                    document.getElementById('customCheck' + (i + 1)).checked = true;
                }
            }

        </script>
    </head>

    <body>

        <ul>
            <li><a class="active" href="{{ url_for('index') }}">Leave game</a></li>
            <li>Welcome to Boombazled!</li>
        </ul>

        <div class="title">
            <h1>Welcome to Boombazled!</h1>
        </div>

        <div class="login-form">
            <form action="{{ url_for('index') }}" onsubmit="return validateForm()" method="post">
                <h2 class="text-center">New game</h2>
                <div class="form-group">
                    <input autocomplete="off" type="text" id="number" autofocus class="form-control" placeholder="Number of players" name="number" required="required">
                </div>
                <div class="form-group">
                    <a href="#" id="filldetails" class="btn btn-primary btn-block" onClick="addFields()">Confirm</a>
                </div>

                <form action="{{ url_for('index') }}" onsubmit="return validateForm()" method="post">
                    <div id="container"></div>

                <br><div class="henlo">
                    <h5>Category: </h5>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="checkAll()">
                      <label class="custom-control-label" for="customSwitch1">Turn on all Categories</label>
                    </div>
                    <br></br>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" name="entertainment" value="entertainment">
                      <label class="custom-control-label" for="customCheck1">Entertainment</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2" name="history" value="history">
                      <label class="custom-control-label" for="customCheck2">History</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3" name="science" value="science">
                      <label class="custom-control-label" for="customCheck3">Science & Technology</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck4" name="geography" value="geography">
                      <label class="custom-control-label" for="customCheck4">Geography</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox"3 class="custom-control-input" id="customCheck5" name="nature" value="nature">
                      <label class="custom-control-label" for="customCheck5">Nature</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck6" name="politics" value="politics">
                      <label class="custom-control-label" for="customCheck6">Politics</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck7" name="sports" value="sports">
                      <label class="custom-control-label" for="customCheck7">Sports</label>
                    </div>
                    <br></br>
                    <h5>Number of Rounds: </h5>
                        <select class="custom-select" style="width:auto;" name="rounds">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                        </select>
                    </div>


            </form>
        </div>

    </body>

</html>

