<!DOCTYPE html>

<html lang="en">


    <head>
        <title>Lobby Host</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    </head>
    <body>
        <div class="title">
            <h1>Waiting for players...</h1>
        </div>

        <div class="text">
            <h5>Player 1</h5>
            <h5>Player 2</h5>
            <h5>Player 3</h5>
            <h5>Player 4</h5>
        </div>

        <form action = "{{ url_for('lobbyHost') }}" method = "post">

         <div class="buttonRight">
            <button type="submit" name="button" value="leave" class="button">Leave Game</button>
        </div>

        <div class="buttonLeft">
            <button class="button" type="submit"  name="button" value="start">Start Game</button>
        </div>

        <div>
            <button class="settingsIcon" type="submit" name="button" value="settings"></button>
        </div>


        </form>
    </body>