<!DOCTYPE html>

<html lang="en">


    <head>
        <title>Lobby Host</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div class="title">
            <h1>Waiting for players...</h1>
        </div>

        <div class="text">
            <h5>Player 1</h5>
            <h5>Player 2</h5>
            <h5>Player 3</h5>
            <h5>Player 4</h5>
        </div>

        <form method = "post">

        <div class="buttonRight">

            <button class="button" type="submit">Verlaat Spel</button>


        </div>
        <div class="buttonLeft">
            <button class="button" type="submit" onclick=GoToPage()>Begin Spel</button>
        </div>

        </form>
    </body>